*
!README.md
# git
!git
!git/**
!./.gitignore
!./.gitmodules

# submodules
!ansible
!personal
!lvim
!nvim

# zsh
!zsh
!zsh/.zshrc
!zsh/zsh-aliases
!zsh/keymaps
!zsh/zsh-exports
!zsh/zsh-functions
!zsh/zsh-prompt
!zsh/zsh-vim-mode
!zsh/zsh-kill-apps-main
!zsh/focus-mode
!zsh/env.template

# alacritty
!alacritty
!alacritty/alacritty.yml


# vscode
!vscode-profiles
!vscode-profiles/settings
!vscode-profiles/settings/*
!vscode-profiles/settings/vim
!vscode-profiles/settings/vim/*
!vscode-profiles/settings/vim/ftplugin/*
!vscode-profiles/runner
!vscode-profiles/runner/*.js
!vscode-profiles/runner/*.json
!vscode-profiles/projects
!vscode-profiles/projects/*.js
!vscode-profiles/extensions
!vscode-profiles/extensions/*
!vscode-profiles/keybindings
!vscode-profiles/keybindings/*
!vscode-profiles/common/
!vscode-profiles/common/data
!vscode-profiles/common/data/User
!vscode-profiles/common/data/User/keybindings.json
!vscode-profiles/common/extensions
!vscode-profiles/common/extensions/extensions.json

## Linux ##


## MacOS ##
# yabai
!yabai
!yabai/yabairc

# skhd 
!skhd
!skhd/skhdrc

# limelight
!limelight
!limelight/limelightrc


# tmux 
!tmux
!tmux/*.sh
!tmux/*.conf
!tmux/*.xsl

# zathura
!zathura
!zatura/zathurarc

# vim
!vim
!vim/.vimrc

# bin
!bin
!bin/create_remote_repository.sh
!bin/setup.sh
!bin/otc.sh

# public
!public
!public/id_otc

# karabiner
!karabiner
!karabiner/karabiner.json
