[submodule "nvim"]
	path = nvim
	url = git@github.com:SamiElkateb/nvim.git

[submodule "ansible"]
	path = ansible
	url = git@github.com:SamiElkateb/ansible.git

[submodule "personal"]
	path = personal
	url = git@github.com:SamiElkateb/personal.git
[submodule "lvim"]
	path = lvim
	url = git@github.com:SamiElkateb/lvim.git
