*
# git
!git
!git/**
!.gitignore

# lvim
!lvim
!lvim/config.lua
!lvim/lua
!lvim/lua/standard
!lvim/lua/standard/*.lua
!lvim/ftplugin
!lvim/ftplugin/*.lua
!lvim/ftdetect
!lvim/ftdetect/*.lua
!lvim/after
!lvim/after/ftplugin
!lvim/after/ftplugin/*.lua

# zsh
!zsh
!zsh/.zshrc
!zsh/zsh-aliases
!zsh/zsh-exports
!zsh/zsh-functions
!zsh/zsh-prompt
!zsh/zsh-vim-mode
!zsh/zsh-kill-apps-main
!zsh/focus-mode

# alacritty
!alacritty
!alacritty/alacritty.yml


# vscode
!vscode-profiles
!vscode-profiles/settings
!vscode-profiles/settings/*
!vscode-profiles/settings/vim
!vscode-profiles/settings/vim/*
!vscode-profiles/settings/vim/ftplugin/*
!vscode-profiles/runner
!vscode-profiles/runner/*.js
!vscode-profiles/runner/*.json
!vscode-profiles/projects
!vscode-profiles/projects/*.js
!vscode-profiles/extensions
!vscode-profiles/extensions/*
!vscode-profiles/keybindings
!vscode-profiles/keybindings/*
!vscode-profiles/common/
!vscode-profiles/common/data
!vscode-profiles/common/data/User
!vscode-profiles/common/data/User/keybindings.json
!vscode-profiles/common/extensions
!vscode-profiles/common/extensions/extensions.json

## Linux ##


## MacOS ##
# yabai
!yabai
!yabai/yabairc

# skhd 
!skhd
!skhd/skhdrc

# limelight
!limelight
!limelight/limelightrc

